<div>
    <div class="section-header">
        <h1>Recent Videos</h1>
        <a href="https://www.youtube.com/@GhostMasterCompleteEdition" target="/blank"
            class="button button-outline">Visit channel</a>
    </div>
    <div class="grid">
        @for (video of videos[0]; track video){
        <div class="grid-element">
            <div>
                <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
                    <img class="video-element" src="{{video.snippet.thumbnails.high.url}}">
                    <div class="video-icon">
                        <img class="icon" src="https://themes.fourthwall.com/themes-library/assets/4f0a22bb-18fb-48c8-9cde-ab49e0488166/assets/yt_icon.png?v=efb3f0dac77121383b036757455c96916485cb68e5d09739435912ddbd97086f" />
                    </div>
                </a>
            </div>
            <h2>{{video.snippet.title}}</h2>
        </div>
        }@empty {
        <h2>No videos avaiable</h2>
        }
    </div>
</div>