<div>
    <div class="section-header">
        <h1>Recent Posts</h1>
        <a class="button button-outline" routerLink="/blog">See all</a>
    </div>
    <div class="grid">
        @for (post of contentItems; track post)
        {
        <div class="grid-element">
            <h2 class="grid-element-title">{{post.Title}}</h2>
            <p class="grid-element-text">{{post.Body}}</p>
        </div>
        }
        @empty
        {
        <div class="grid-element">
            <h2 class="grid-element-title">An error occured while loading the posts. Please refresh the page.</h2>
        </div>
        }
    </div>
</div>