h1{
    font-size: 50px;
    padding-bottom: 10px;
}

p{
    font-size: 25px;
}

.body{
    margin-bottom: 1em;
}

.image{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.date{
    padding-top: 10px;
    opacity: 0.8;
    text-align: right;
    font-size: 15px;
}